<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Technova</title>
  <link rel="stylesheet" href="atencion.css">
  <link rel="stylesheet" href="estilodas.css">
     <link rel="stylesheet" href="stilotech.css">
         <script src="app.js" defer></script>
</head>
<body>
    <header class="header">
        <div class="menu-icon">&#9776;</div>
        <div class="logo">
            <img src="imagenes/logo technova.png" alt="Logo">
            <span>TECHNOVA</span>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="¿Que estas buscando hoy?">
            <button class="search-btn">&#128269;</button>
        </div>
        <div class="account">
            <img src="imagenes/foto perfil.webp" alt="Avatar">
            <span>Mi Cuenta</span>
        </div>
        <div class="cart">
            <span class="cart-icon">&#128722;</span>
            <span>Mi Carrito</span>
        </div>
    </header>
     <main class="chat-container">
        <div class="chat-title">Atencion al cliente</div>
        <div class="chat-box">
            <div class="message bot">
                <div class="avatar">👤</div>
                <div class="bubble">¡Hola! ¿En qué te podemos ayudar?</div>
                <div class="time">10:03pm</div>
            </div>
            <div class="message user">
                <div class="bubble">Me gustaría saber por qué mi tarjeta de crédito es rechazada</div>
                <div class="avatar"><img src="imagenes/foto perfil.webp" alt="User Avatar"></div>
                <div class="time">10:05pm</div>
            </div>
            <div class="message bot">
                <div class="avatar">👤</div>
                <div class="bubble">Puede ser debido a que tu tarjeta ya haya caducado, hayas superado tu límite de crédito o esté bloqueada, si el problema persiste te recomendamos comunicarte con tu entidad financiera</div>
                <div class="time">10:07pm</div>
            </div>
            <div class="message user">
                <div class="bubble">Muchas gracias por su ayuda</div>
                <div class="avatar"><img src="imagenes/foto perfil.webp" alt="User Avatar"></div>
                <div class="time">10:09pm</div>
            </div>
            <div class="message bot">
                <div class="avatar">👤</div>
                <div class="bubble">De nada, estamos para ayudarte</div>
                <div class="time">10:11pm</div>
            </div>
        </div>
        <div class="input-box">
            <input type="text" placeholder="Escribe tu duda o problema">
            <button>➤</button>
        </div>
    </main>
</body>
</html>