<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Xiaomi | Technova</title>
  <link rel="stylesheet" href="stilotech.css" />
  <link rel="stylesheet" href="producto.css" />
</head>
<body>
  <header class="header">
    <a href="index.html" class="logo">
      <img src="imagenes/logo technova.png" alt="Logo Technova" />
      <span>TECHNOVA</span>
    </a>
    <div class="search-bar">
      <input type="text" placeholder="¿Qué estás buscando hoy?" />
      <button class="search-btn">&#128269;</button>
    </div>
    <div class="acciones-usuario">
      <a href="iniciosesion.html" class="account"><span>Iniciar Sesión</span></a>
      <a href="creacioncuenta.html" class="account"><span>Crear Cuenta</span></a>
      <a href="comprainfo.html" class="cart">
        <span class="cart-icon">&#128722;</span>
        <span>Mi Carrito</span>
      </a>
    </div>
  </header>

  <main class="main-content">
   

    <section class="productos">
      <h2>🧡 Productos Xiaomi</h2>

      <div class="producto">
        <img src="imagenes/redminote14pro.webp" alt="Redmi Note 14 Pro" />
        <a href="redminote14pro.html" class="detalles">Ver más detalles</a>
        <h3>Redmi Note 14 Pro 256 GB</h3>
        <p class="precio-original">$2.199.010</p>
        <p class="precio-descuento">$1.449.010 <span class="descuento">-5%</span></p>
      </div>
    </section>
     <section class="navegacion-categorias">
      <h2>Explora otras marcas</h2>
      <div class="marcas-grid">
        <a href="marca-apple.html" class="marca-item"> Apple</a>
        <a href="marca-samsung.html" class="marca-item">📱 Samsung</a>
        <a href="marca-motorola.html" class="marca-item">📞 Motorola</a>
        <a href="marca-oppo.html" class="marca-item">📲 OPPO</a>
        <a href="marca-lenovo.html" class="marca-item">💻 Lenovo</a>
      </div>
    </section>
  </main>

  <footer>
    <p>© 2025 TECHNOVA. Todos los derechos reservados.</p>
  </footer>
</body>
</html>
