<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Mensajes - Technova</title>

  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="estilodas.css">
  <link rel="stylesheet" href="stilotech.css">
  <script src="mensajes.js" defer></script>
</head>
<body>
  <header class="header">
    <a href="index.html" class="logo">
      <img src="imagenes/logo technova.png" alt="Logo">
      <span>TECHNOVA</span>
    </a>

    <div class="search-bar">
      <input type="text" placeholder="¿Qué estás buscando hoy?">
      <button class="search-btn">&#128269;</button>
    </div>

    <div class="acciones-usuario">
      <a href="#" class="account"><i class='bx bx-user-circle'></i> <span>Perfil</span></a>
      <a href="index.html" class="account"><i class='bx bx-log-out'></i> <span>Cerrar Sesion</span></a>
      <a href="#" class="account"><i class='bx bx-cog'></i> <span>Configuracion</span></a>
    </div>
  </header>

  <div class="dashboard-wrapper">
    @include('frontend.layouts.sidebar-cliente')
    
    <main class="main-content">
      <h1>Mensajes</h1>

      <ul class="messages-list">
        <li><strong> TechNova</strong>: Tengo Nuevas Promociones</li>
        <li><strong> TechNova</strong>: Te va A interesar Este Producto</li>
        <li><strong>TechNova</strong>: Hay promociones esta semana</li>
      </ul>

    </main><!-- /main-content -->

  </div><!-- /dashboard-wrapper -->

  <footer>
    &copy; 2025 Technova
  </footer>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/68632ae6db555c190ce714bb/1iv1lv5no';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</body>
</html>
