<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Mis Compras</title>

    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="estilodas.css">
    <link rel="stylesheet" href="stilotech.css">
    <script src="app.js" defer></script>
</head>
<body>
  <header class="header">
    <a href="index.html" class="logo">
      <img src="imagenes/logo technova.png" alt="Logo">
      <span>TECHNOVA</span>
    </a>

    <div class="search-bar">
      <input type="text" placeholder="¿Qué estás buscando hoy?">
      <button class="search-btn">&#128269;</button>
    </div>

    <div class="acciones-usuario">
      <a href="perfilad.html" class="account"><i class='bx bx-user-circle'></i> <span>Perfil</span></a>
      <a href="index.html" class="account"><i class='bx bx-log-out'></i> <span>Cerrar Sesion</span></a>
      <a href="error500.html" class="cart"><i class='bx bx-cog'></i> <span>Configuracion</span></a>
    </div>
  </header>

  <div class="dashboard-wrapper">
    <div class="menu-dashboard">
      <!-- TOP MENU -->
      <div class="top-menu">
        <div class="logo">
          <img src="./imagenes/logo technova.png" alt=""> 
          <span>Dashboard Cliente</span>
        </div>
        <div class="toggle">
          <i class='bx bx-menu'></i>
        </div>
      </div>

      <!-- INPUT SEARCH -->
      <div class="input-search">
        <i class='bx bx-search'></i>
        <input type="text" class="input" placeholder="Buscar">
      </div>

    <!-- MENÚ -->
      <div class="menu">
        <div class="enlace"><a href="perfilcli.html"><i class='bx bx-user-circle'></i> Mi Perfil</a></div>
        <div class="enlace"><a href="favoritos.html"><i class='bx bx-heart'></i> Favoritos</a></div>
        <div class="enlace"><a href="mensajescli.html"><i class='bx bx-message'></i> Mensajes</a></div>
        <div class="enlace"><a href="pedidoscli.html"><i class='bx bx-cart'></i> Pedidos</a></div>
        <div class="enlace"><a href="mediopagos.html"><i class='bx bx-credit-card'></i>Medios De  Pagos</a></div>
        <div class="enlace"><a href="miscompras.html"><i class='bx bx-cart'></i> Mis Compras</a></div>
        <div class="enlace"><a href="atencion.html"><i class='bx bx-headphone'></i> Atencion Al Cliente</a></div>
         <div class="enlace"><a href="index.html"><i class='bx bx-log-out'></i> Cerrar Sesion</a></div>
      </div>
    </div><!-- /.menu-dashboard --

    <!-- PRINCIPAL -->
    <main class="main-content">
      <h1>Mis Compras</h1>

      <table class="table-proveedores">
        <thead>
          <tr>
            <th>ID Factura</th>
            <th>Nombre Producto</th>
            <th>Valor Producto</th>
            <th>Fecha Compra</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1001</td>
            <td>Iphone 16 Pro Max</td>
            <td>$6.699.010</td>
            <td>2025-06-10</td>
          </tr>
          <tr>
            <td>1002</td>
            <td>Lenovo Thinkpad</td>
            <td>$3.999.010</td>
            <td>2025-06-15</td>
          </tr>
        </tbody>
      </table>

    </main><!-- /main-content -->

  </div><!-- /dashboard-wrapper -->

  <footer>
    &copy; 2025 Technova
  </footer>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/68632ae6db555c190ce714bb/1iv1lv5no';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</body>
</html>
