<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Portátiles | Technova</title>
  <link rel="stylesheet" href="stilotech.css" />
  <link rel="stylesheet" href="producto.css" />
</head>
<body>
  <header class="header">
    <a href="index.html" class="logo">
      <img src="imagenes/logo technova.png" alt="Logo" />
      <span>TECHNOVA</span>
    </a>
    <div class="search-bar">
      <input type="text" placeholder="¿Qué estás buscando hoy?" />
      <button class="search-btn">&#128269;</button>
    </div>
    <div class="acciones-usuario">
      <a href="iniciosesion.html" class="account"><span>Iniciar Sesión</span></a>
      <a href="creacioncuenta.html" class="account"><span>Crear Cuenta</span></a>
      <a href="comprainfo.html" class="cart">
        <span class="cart-icon">&#128722;</span>
        <span>Mi Carrito</span>
      </a>
    </div>
  </header>

  <main class="main-content">
   

    <section class="productos">
      <h2>💻 Portátiles disponibles</h2>

      <div class="producto">
        <img src="imagenes/LENOVO IdeaPad.webp" alt="Lenovo IdeaPad Slim 3" />
        <a href="lenovoslim3.html" class="detalles">Ver más detalles</a>
        <h3>Lenovo IdeaPad Slim 3</h3>
        <p class="precio-descuento">$2.399.000 <span class="descuento">-38%</span></p>
      </div>
    </section>

     <section class="navegacion-categorias">
      <h2>Explora otras categorías</h2>
      <div class="categorias-grid">
        <a href="celulares.html" class="categoria-item">📱 Celulares</a>
        <a href="ofertas.html" class="categoria-item">🔥 Ofertas</a>
      </div>
    </section>
  </main>

  <footer>
    <p>© 2025 TECHNOVA. Todos los derechos reservados.</p>
  </footer>
</body>
</html>
